<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
            <form id="contact-login" method="post" th:object="${loginDTO}" th:action="@{/login}">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" th:field="*{email}" autofocus="true">
                    <span class="has-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" th:field="*{password}">
                    <span class="has-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Se souvenir de moi
                    </label>
                </div>
                <button type="submit" class="btn btn-success">Valider</button>
            </form>
</div>
</body>
</html>