<!DOCTYPE html>
<html lang="fr" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FormUsers</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <form id="contact" method="post" th:action="@{save}">
        <h3>PayMyBuddy Contact Form</h3>
        <h4>Creez votre compte</h4>
        <fieldset>
            <input placeholder="Votre prénom" type="text"  required autofocus name="firstName" th:value="${user.firstName}">
            <span th:errors="${user.firstName}"></span>
        </fieldset>
        <fieldset>
            <input placeholder="Votre nom" type="text" required name="lastName" th:value="${user.lastName}">
            <span th:errors="${user.lastName}"></span>
        </fieldset>
        <fieldset>
            <input placeholder="Votre nom d'utilisateur" type="text" required name="userName" th:value="${user.userName}">
            <span th:errors="${user.userName}"></span>
        </fieldset>
        <fieldset>
            <input placeholder="Your Email Address" type="email" required name="email" th:value="${user.email}">
            <span th:errors="${user.email}"></span>
        </fieldset>
        <fieldset>
            <input placeholder="Votre mot de passe" type="password"  required name="password" th:value="${user.password}">
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Valider</button>
        </fieldset>
    </form>
</div>
</body>
</html>