<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transfert</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<!--navigateur-->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PayMyBuddy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Transfer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-2">
    <div class="card">
        <div class="card-header">Historique des Transferts</div>
        <div class="card-body">
            <table class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Expéditeur</th>
                    <th>Destinataire</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Commission</th>
                    <th>Commentaire</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction:${transfert}">
                    <td th:text="${transaction.userSource.email}"></td>
                    <td th:text="${transaction.userDestination.email}"></td>
                    <td th:text="${transaction.dateUserTransaction}"></td>
                    <td th:text="${transaction.amount}"></td>
                    <td th:text="${transaction.fees}"></td>
                    <td th:text="${transaction.comments}"></td>
                </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:class="${status.count==currentPage?'btn btn-secondary ms-1':'btn btn-outline- ms-1'}"
                       th:text="${status.count}"
                    th:href="@{transfert(page=${status.count})}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>