<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserTransaction</title>
</head>
<body>
<h1>Réaliser une transaction</h1>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Expéditeur</th>
            <th>Destinataire</th>
            <th>Montant</th>
            <th>Commission</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="page:${}"></tr>
        </tbody>
    </table>
</div>
</body>
</html>